<hr>
<div class="container" id="staff-bio-body" align="center">
	<h3>Staff</h3>
	<div id="staff-bio-row" class="row">
    <%= render partial: 'staff_bio', locals: {name: "Serena Wang", title: "Founder & CEO", img_link: "https://yhwhapparel.files.wordpress.com/2017/05/profs-6.jpg"} %>
    <%= render partial: 'staff_bio', locals: {name: "Hannah Lee", title: "Marketing", img_link: "https://yhwhapparel.files.wordpress.com/2017/05/profs-5.jpg"} %>
    <%= render partial: 'staff_bio', locals: {name: "Dominic Fannjiang", title: "Operations", img_link: "https://yhwhapparel.files.wordpress.com/2016/03/profiles.jpg"} %>
  </div>
	<div id="staff-bio-row" class="row">
    <%= render partial: 'staff_bio', locals: {name: "Diana Li", title: "Graphic Design", img_link: "https://yhwhapparel.files.wordpress.com/2017/05/profs-4.jpg"} %>
    <%= render partial: 'staff_bio', locals: {name: "Mary Ho", title: "Community Outreach", img_link: "https://yhwhapparel.files.wordpress.com/2017/05/profs.jpg"} %>
    <%= render partial: 'staff_bio', locals: {name: "Charissa Liu", title: "Community Outreach", img_link: "https://yhwhapparel.files.wordpress.com/2017/05/profs-3.jpg"} %>
  </div>
	<div id="staff-bio-row" class="row">
    <%= render partial: 'staff_bio', locals: {name: "Mason Chan", title: "Web Development", img_link: "https://yhwhapparel.files.wordpress.com/2017/05/profs-2.jpg"} %>
  </div>
</div>
