<div class="row">
  <div class="col-md-9 basket-body">
    <h4>Shopping Bag</h4>
    <hr>
    <table width='100%' border='1'>
      <thead>
        <tr>
          <td>Quantity</td>
          <td>Product</td>
          <td>Sub-Total</td>
          <td>Tax</td>
          <td>Total</td>
        </tr>
      </thead>
      <tbody>
        <% order.order_items.each do |item| %>
        <tr>
          <td><%= item.quantity %></td>
          <td><%= item.ordered_item.full_name %></td>
          <td><%= number_to_currency item.sub_total %></td>
          <td><%= number_to_currency item.tax_amount %></td>
          <td><%= number_to_currency item.total %></td>
        </tr>
        <% end %>

        <% if order.delivery_service %>
        <tr>
          <td></td>
          <td><%= order.delivery_service.name %></td>
          <td><%= number_to_currency order.delivery_price %></td>
          <td><%= number_to_currency order.delivery_tax_amount %></td>
          <td><%= number_to_currency order.delivery_price + order.delivery_tax_amount %></td>
        </tr>
        <% end %>

      </tbody>
    </table>
  </div>
  <div class="col-md-3 order-summary-body">
    <h4>Order Summary</h4>
    <hr>
    <div class="checkout-totals">
      <p class="checkout-total-label">Sub-Total<span class="checkout-total-value"><%= number_to_currency order.total_before_tax %></span></p>
      <% if order.delivery_service %>
        <p class="checkout-total-label">Shipping<span class="checkout-total-value"><%= number_to_currency order.delivery_price + order.delivery_tax_amount %></span></p>
      <% end %>
      <p class="checkout-total-label">Tax<span class="checkout-total-value"><%= number_to_currency order.tax %></span></p>
      <p class="checkout-total-label">Total<span class="checkout-total-value"><%= number_to_currency order.total + order.delivery_price + order.delivery_tax_amount %></span></p>
    </div>
    <div class="checkout-button">
      <%= link_to "Checkout", checkout_path, :class => "btn yhwh-btn" %>
    </div>
  </div>
</div>
