<div class="container">
  <h2>Checkout</h2>
  <div class="row">
    <%= form_for @order, :url => checkout_path do |f| %>
    <div class="col-md-9 basket-body">
      <%= render 'items_list', :order => current_order %>
      <br>
      <h4>Order Information</h4>
      <div class="form-body">
        <div class="form-group">
            <div class="row">
              <div class="col-md-6">
                <dl>
                  <%= f.label :first_name, 'First Name' %>
                  <%= f.text_field :first_name, class: "form-control" %>
                  <%= f.label :last_name, 'Last Name' %>
                  <%= f.text_field :last_name, class: "form-control" %>
                  <%= f.label :email_address %>
                  <%= f.text_field :email_address, class: "form-control" %>

                  <%= f.label :phone_number %>
                  <%= f.text_field :phone_number, class: "form-control" %>
                </dl>
              </div>
              <div class="col-md-6">
                <dl>
                  <dt><%= f.label :billing_address1, 'Address' %></dt>
                  <%= f.text_field :billing_address1, class: "form-control" %>
                  <br>
                  <%= f.text_field :billing_address2, class: "form-control" %>
                  <%= f.label :billing_address3, 'City' %>
                  <%= f.text_field :billing_address3, class: "form-control" %>
                  <br>
                  <%= f.text_field :billing_address4, class: "form-control" %>

                  <%= f.label :billing_postcode, 'Zip code' %>
                  <%= f.text_field :billing_postcode, class: "form-control" %>
                  <%= f.label :billing_country_id, 'Country' %>
                  <br>
                  <%= f.collection_select :billing_country_id, Shoppe::Country.ordered, :id, :name, :include_blank => true, :class => "form-control" %>
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 order-summary-body">
      <%= render 'items_summary', :order => current_order %>
      <div class="checkout-button">
                <%= f.submit 'Continue', class: "btn yhwh-btn" %>
      </div>
    </div>
  <% end %>
  </div>

</div>
