<div class="col-md-3 col-md-offset-1" style="position: fixed; width: 30vw;">
  <%= form_for(@prayer) do |f| %>
    <%= render 'prayers/error_messages', object: f.object %>

    <%= f.label :name, "Name (optional)" %>
    <%= f.text_field :name, class: 'form-control' %>

    <%= f.label :prayer %>
    <%= f.text_area :prayer, class:  'form-control', size: "x22" %>
    <%= f.submit "Post Prayer", class: "btn btn-primary" %>
  <% end %>
</div>
<style>
  .container.prayers {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    overflow-y: scroll;
    padding-left: 0;
    margin-left: 0;
    width: 80vw;
  }
  .prayer {
    word-wrap: break-word;
    display: inline-block;
    outline: black solid thin;
    margin:10px 0 0 2%;
    flex-grow: 1;
    max-width: 900px;
    overflow:visible;
  }
</style>
<div class="col-md-9" style="padding-left: 0; margin-left: 40%">
  <h3> Verse </h3>
  <div class="container prayers" >
    <% @prayers.each do |prayer| %>
      <div class="prayer">
        <strong><%= prayer.name %></strong>
        <p><%= prayer.prayer %></p>
        <span style="color: grey">Posted:
          <%= prayer.created_at.strftime("%b %d, %Y") %> </span>
        <p style="color: grey">Affirms: <%= prayer.affirms %> </p>
        <%= link_to "Affirm!", prayer_path(prayer), method: :patch %>
      </div>
    <% end %>
  </div>
</div>



