<div class="container">
    <div class="col-md-3">
      <%= form_for(@prayer) do |f| %>
        <%= render 'prayers/error_messages' %>

        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>

        <%= f.label :prayer %>
        <%= f.text_field :prayer, class: 'form-control' %>

        <%= f.submit "Post Prayer", class: "btn btn-primary" %>
      <% end %>
    <div>
    <div class="col-md-9">
      <h3> Verse </h3>
      <ul class="prayers" style="list-style: none;">
        <% @prayers.each do |prayer| %>
          <li>
            <%= prayer.name %>,
            <%= prayer.prayer %>,
            <%= prayer.created_at.strftime("%b %d, %Y") %>
          </li>
        <% end %>
      </ul>
    </div>
</div>

