<div class="container">
  <h2>Products</h2>
  <hr>

  <% @products.each do |category, products| %>
    <h3><%= category.name %></h3>
    <br>
    <% products.each_slice(3) do |product_row| %>
    <div class="row">
      <% product_row.each do |product| %>
        <div class="col-md-4 product-panel">
          <div class="product-thumb">
            <% if product.default_image %>
                <%= link_to product_path(product.permalink) do %>
                  <%= image_tag product.default_image.path, :width => '200px' %>
                <% end %>
            <% end %>
          </div>
          <%= link_to product.name, product_path(product.permalink), :class => "product-link" %>
          <p><%= number_to_currency product.price %></p>
        </div>
      <% end %>
    </div>
    <% end %>
  <% end %>
</div>
