<!DOCTYPE html>
<html>
<head>
  <title>Yhwhapparel</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container-fluid">

	<br/>

	<% flash.each do |name, msg| %>
    	<%= content_tag :div, msg, class: "alert alert-info" %>
  	<% end %>

	<div class="container-fluid text-center">
		<%= link_to root_path do %>
			<img class="responsive" src="http://dpegb9ebondhq.cloudfront.net/banner_images/693291/Screen_Shot_2016-03-05_at_11.02.37_PM_original.png" alt="">
		<% end %>
	</div>

	<br/>

	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle Navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>

		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav ">
				<li><%= link_to "Home", root_path %></li>
				<li><%= link_to "Shop", "http://yhwhapparel.storenvy.com/products"%></li>
        <li><%= link_to "About Us", about_us_path %></li>
				<li><%= link_to "Community Outreach", community_outreach_path %></li>
				<li><%= link_to "Stories", "#"%></li>
				<li><%= link_to "FAQ", faq_path %></li>
				<li><%= link_to "Contact", "#"%></li>
			</ul>
		</div>

	</nav>

	<%= yield %>

	<br/>
	<footer class="footer">
		<div class="container">
			<hr>
			<div class="row">
				<div class="col-xs-8 ">
					<p class="footer-text">Every design has been prayed upon, biblically inspired, and personally experienced. 100% of our profits will go towards charity and missionary trips.
					<br/><br/>
					All for His Glory.</p>
				</div>
				<div class="col-xs-4">
					<div class="container">
						<a href="https://www.facebook.com/yhwhapparel/?fref=ts" class="social"><i class="fa fa-facebook fa-3x"></i></a>
						<a href="https://www.instagram.com/yhwhapparel/" class="social"><i class="fa fa-instagram fa-3x"></i></a>
						<a href="https://yhwhapparel.wordpress.com/" class="social"><i class="fa fa-wordpress fa-3x"></i></a>
					</div>
				</div>
			</div>
			<hr>
		</div>
		<div class="container text-center">
			<p>Berkeley, CA &copy; YHWH 2016</p>
		</div>

	</footer>

</div>
</body>
</html>
