<!DOCTYPE html>
<html>
  <head>
    <title>YHWH Apparel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <% if Rails.env.production? %>
      <%= render partial: "/layouts/google_analytics.js" %>
    <% end %>
  </head>
  <body>

      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, class: "alert alert-info" %>
      <% end %>

    <nav class="navbar navbar-default">
      <div class="container-fluid navbar-container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#yhwh-collapsible-navbar" aria-expanded="false">
            <span class="sr-only">Toggle Navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to home_path, class: "navbar-brand" do %>
            <img class="responsive" src="http://dpegb9ebondhq.cloudfront.net/banner_images/693291/Screen_Shot_2016-03-05_at_11.02.37_PM_original.png" alt="" height="50">
          <% end %>
        </div>

        <div class="collapse navbar-collapse" id="yhwh-collapsible-navbar">
          <ul class="nav navbar-nav">
            <li class="navbar-item"><%= link_to "Designs", designs_path %></li>
            <li class="navbar-item"><%= link_to "Shop", "http://yhwhapparel.storenvy.com/products" %></li>
            <li class="navbar-item"><%= link_to "Prayers", prayers_path %></li>

            <li class="navbar-item"><%= link_to "Community Outreach", missions_path %></li>
            <li class="navbar-item"><%= link_to "About Us", about_us_path %></li>
            <li class="navbar-item"><%= link_to "FAQ", faq_path %></li>
            <li class="navbar-item"><%= link_to "Contact", contact_path %></li>
            <% if admin_signed_in? %>
              <li class="navbar-item"><%= link_to "Pending Prayers", pending_prayers_path %></li>
              <li class="navbar-item"><%= link_to "People", admins_path %></li>
              <li class="navbar-item"><%= link_to "Sign Out", destroy_admin_session_path, method: :delete %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>

    <div class="body-container">
      <%= yield %>
    </div>

    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-xs-8 ">
            <p class="footer-text">Every design has been prayed upon, biblically inspired, and personally experienced. 100% of our profits will go towards charity and missionary trips.</p>
            <p class="footer-text footer-text-last">All for His Glory.</p>
          </div>
          <div class="col-xs-4 social-icons">
            <a href="https://www.facebook.com/yhwhapparel/?fref=ts" class="social"><i class="fa fa-facebook"></i></a>
            <a href="https://www.instagram.com/yhwhapparel/" class="social"><i class="fa fa-instagram"></i></a>
            <a href="https://yhwhapparel.wordpress.com/" class="social"><i class="fa fa-wordpress"></i></a>
          </div>
        </div>
      </div>
      <div class="container text-center">
        <p>Berkeley, CA &copy; YHWH 2016</p>
      </div>

    </footer>

  </body>
</html>
