<!DOCTYPE html>
<html>
<head>
  <title>Yhwhapparel</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container-fluid">

	<br/>

	<div class="container-fluid text-center">
		<img class="responsive" src="http://dpegb9ebondhq.cloudfront.net/banner_images/693291/Screen_Shot_2016-03-05_at_11.02.37_PM_original.png" alt="">
	</div>

	<br/>

	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle Navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>

		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav ">
				<li><%= link_to "Home", root_path %></li>
				<li><a href="http://yhwhapparel.storenvy.com/products">Shop</a></li>
				<li><a href="#">About Us</a></li>
				<li><a href="#">Community Outreach</a></li>
				<li><a href="#">Stories</a></li>
				<li><a href="#">FAQ</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</div>

	</nav>

	<%= yield %>

	<div class="container-fluid">
		<nav class="navbar navbar-default navbar-fixed-bottom">
			<div class="container">
				<div class="row vertical-divider">
					<div class="col-xs-8">
						<div class="navbar-text pull-left">
							<p>Every design has been prayed upon, biblically inspired, and personally experienced. 100% of our profits will go towards charity and missionary trips.<br/><br>
							All for His Glory.</p>
						</div>
					</div>
					<div class="col-xs-4">
						<div class="navbar-text">
							<a href="https://www.facebook.com/yhwhapparel/?fref=ts" class="social"><i class="fa fa-facebook fa-3x"></i></a>
							<a href="https://www.instagram.com/yhwhapparel/" class="social"><i class="fa fa-instagram fa-3x"></i></a>
							<a href="https://yhwhapparel.wordpress.com/" class="social"><i class="fa fa-wordpress fa-3x"></i></a>
						</div>
					</div>
				</div>
			</div>
			<hr>
			<div class="container text-center">
				<p>Berkeley, CA &copy; YHWH 2016</p>
			</div>
		</nav>
	</div>

</div>
</body>
</html>
